# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jupyter-notebook\RDFox-win64-3.1.1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
